svg {
  width: 100%;
  height: 100%;
  position: center;
  background-color: whitesmoke;
}
.hidden {
    display: none;
}
div.tooltip {
    color: #222; 
    background: #fff; 
    border-radius: 3px; 
    box-shadow: 0px 0px 2px 0px #a6a6a6; 
    padding: .2em; 
    text-shadow: #f5f5f5 0 1px 0;
    opacity: 0.9; 
    position: absolute;
    width: auto;
}

body {
  background-color: whitesmoke;
  text-align: center;
}

h1, p {
  text-align: center;
}

path {
  stroke: black;
  stroke-width: 0.5px;
  fill: #9F838C;
}